<div class="in-game">
	<div class="grid">
		<div class="col-4" style="text-align: center;">
			<h1 class="title" *ngIf="!possHome">{{ homeTeamName }}</h1>
	    	<h1 class="poss-title" *ngIf="possHome">{{ homeTeamName }} <-</h1>
	    	<div style="display: flex;  justify-content: center; margin-top: 2vh;" >
				<div 
					class="circle" 
					*ngFor="let foul of homeFouls"
					[ngClass]="{
						'circle'           : foul.val === 0, 
						'circle_onfoul'    : foul.val === 1,
	    				'circle_expulsion' : foul.val === 2}"
				></div>
			</div>
	    	<div class="grid" style="display: flex; flex-direction: column; align-items: center; margin-top: 3vh">
	    		<div *ngFor="let player of homePlayersInGame" class="col-12">
	    			<div class="grid" style="
	    								display: flex; 
	    								flex-direction: row; 
	    								align-items: left; 
	    								border-style: solid; 
	    								border-color: white; 
	    								width: 80%;
	    								margin-left: 3vw;">
	    				
	    				<div class="col-7" style="display: flex; justify-content: flex-start; margin-right: 2vw;">
	    					<p-button label="{{ player.name }}" severity="primary" (click)="showPlayer(player)"></p-button>
	    				</div>
	    				<div class="col-4" style="display: flex;  justify-content: flex-start; margin-top: 2vh;" >
	    					<div 
	    						class="circle" 
	    						*ngFor="let foul of player.fouls"
	    						[ngClass]="{
	    							'circle'           : foul.val === 0, 
	    							'circle_onfoul'    : foul.val === 1,
	    							'circle_expulsion' : foul.val === 2}"
	    						></div>
	    				</div>
	    				
	    			</div>
	    			
	    		</div>
	    		<p-divider></p-divider>
	    		<div class="col-12" >
	    			<div class="grid" style="
						display: flex; 
						flex-direction: row; 
						align-items: left; 
						border-style: solid; 
						border-color: white; 
						width: 80%;
						margin-left: 3vw; padding: 1vh">
						<p-button label="SUBSTITUTIONS" severity="primary" (click)="openSubsModal('home')"></p-button>
					</div>	    			
	    		</div>
	    		<div class="col-12">
	    			<div class="grid" style="
						display: flex; 
						flex-direction: row; 
						align-items: left; 
						border-style: solid; 
						border-color: white; 
						width: 80%;
						margin-left: 3vw; padding: 1vh">
						<p-button label="TIMEOUT" severity="primary" (click)="askTimeout('home')"></p-button>
					</div>
	    			
	    		</div>
	    		<div class="col-12">
	    			<div class="grid" style="
						display: flex; 
						flex-direction: row; 
						align-items: left; 
						border-style: solid; 
						border-color: white; 
						width: 80%;
						margin-left: 3vw; padding: 1vh">
						<p-button label="POSS" severity="primary" (click)="changePoss('home')"></p-button>
					</div>	    			
	    		</div>


	    	</div>
	  	</div>
	    
	  	<div class="col-4" style="text-align: center; margin: auto">
	    	<h1 class="title">GAME STATS</h1>
	    	<div class="grid score-center">
	    		<div class="col">
	    			<table class="stats-marker" >
	    				<tbody>
	    					<tr >
	    						
		    					<th colspan="6" style="border-style: solid; border-color: white; text-align: center;">
		    						<h2>{{ timerMin }} : {{ timerSec }}</h2>
		    					</th>
		    					<th colspan="2" style="border-style: solid; border-color: white; text-align: center; color: #C60000">
		    						<h2>{{ twentyFour }}</h2>
		    					</th>
		    					<th colspan="2">
		    						<p-button *ngIf="!inGameStart" label="Start" (click)="playGame()"></p-button>
		    						<p-button *ngIf="inGameStart" label="Pause" (click)="pauseGame()"></p-button>
		    					</th>
	    					</tr>
	    					<tr>
	    						<th colspan="8">
	    						</th>
	    						<th colspan="1">
	    							<p-button label="24" (click)="resetTF('24')" severity="help"></p-button>
	    						</th>
	    						<th colspan="1">
	    							<p-button label="14" (click)="resetTF('14')" severity="help"></p-button>
	    						</th>
	    					</tr>
	    					<tr>
	    						<th colspan="4">
	    							<h2>{{ homeName }}</h2>
	    						</th>
	    						<th colspan="4">
	    							<h2>Periodo</h2>
	    						</th>
		    					<th colspan="4">
		    						<h2>{{ awayName }}</h2>
		    					</th>
	    					</tr>
	    					<tr>
	    						<th colspan="4">
	    							<h2>{{ homeGoals }}</h2>
	    						</th>
	    						<th colspan="4">
	    							<h2>{{ period }}</h2>
	    						</th>
		    					<th colspan="4">
		    						<h2>{{ awayGoals }}</h2>
		    					</th>
	    					</tr>		    					
	    				</tbody>
	    			</table>
	    		</div>
	    	</div>
	    	<div class="grid">
	    		<div class="col">
	    			<canvas #myCanvas width="500vw" height="400vh" style="border:1px solid #000;"></canvas>
	    		</div>
	    	</div>
	    	
	  	</div>
	  	<div class="col-4" style="text-align: center;">
	    	<h1 class="title" *ngIf="!possAway">{{ awayTeamName }}</h1>
	    	<h1 class="poss-title" *ngIf="possAway" >-> {{ awayTeamName }}</h1>
	    	<div style="display: flex;  justify-content: center; margin-top: 2vh;" >
				<div 
					class="circle" 
					*ngFor="let foul of awayFouls"
					[ngClass]="{
						'circle'           : foul.val === 0, 
						'circle_onfoul'    : foul.val === 1,
	    				'circle_expulsion' : foul.val === 2}"
				></div>
			</div>
	    	<div class="grid" style="display: flex; flex-direction: column; align-items: right; margin-top: 3vh">
	    		<div *ngFor="let player of awayPlayersInGame" class="col-12">
	    			<div class="grid" style="
	    								display: flex; 
	    								flex-direction: row; 
	    								align-items: left; 
	    								border-style: solid; 
	    								border-color: white; 
	    								width: 80%;
	    								margin-left: 3vw;">
	    				
	    				<div class="col-4" style="display: flex;  justify-content: flex-end; margin-top: 2vh;" >
	    					<div 
	    						class="circle" 
	    						*ngFor="let foul of player.fouls"
	    						[ngClass]="{
	    							'circle': foul.val === 0, 
	    							'circle_onfoul': foul.val === 1,
	    							'circle_expulsion' : foul.val === 2}"
	    						></div>
	    				</div>
	    				<div class="col-7" style="display: flex; justify-content: flex-end; margin-right: 2vw;">
	    					<p-button label="{{ player.name }}" severity="warning" (click)="showPlayer(player)"></p-button>
	    				</div>
	    			</div>
	    			
	    		</div>
	    		<p-divider></p-divider>
	    		<div class="col-12">
	    			<div class="grid" style="
						display: flex; 
						flex-direction: row-reverse; 
						align-items: right; 
						border-style: solid; 
						border-color: white; 
						width: 80%;
						margin-left: 3vw; padding: 1vh">
						<p-button label="SUBSTITUTIONS" severity="warning" (click)="openSubsModal('away')"></p-button>
					</div>
	    			
	    		</div>
	    		<div class="col-12">
	    			<div class="grid" style="
						display: flex; 
						flex-direction: row-reverse; 
						align-items: right; 
						border-style: solid; 
						border-color: white; 
						width: 80%;
						margin-left: 3vw; padding: 1vh">
						<p-button label="TIMEOUT" severity="warning" (click)="askTimeout('away')"></p-button>
					</div>
	    			
	    		</div>
	    		<div class="col-12">
	    			<div class="grid" style="
						display: flex; 
						flex-direction: row-reverse; 
						align-items: right; 
						border-style: solid; 
						border-color: white; 
						width: 80%;
						margin-left: 3vw; padding: 1vh">
						<p-button label="POSS" severity="warning" (click)="changePoss('away')"></p-button>
					</div>
	    			
	    		</div>
	    	</div>

	  	</div>
	  	
	</div>		
</div>

<p-dialog header="Score" [(visible)]="scoreModal" [style]="{width: '60vw'}">
	<div class="grid">
		<div class="col-6 card" style="display: flex; flex-direction: column; align-items: center; margin-top: 1vh">
			<div class="card flex justify-content-center">
			    <p-selectButton [options]="teamsOptions" [(ngModel)]="scoreTeam" optionLabel="label" optionValue="value"></p-selectButton>
			</div>
		</div>
		<div class="col-6 card" style="display: flex; flex-direction: column; align-items: center; margin-top: 1vh">
			<div class="card flex justify-content-center" >
			    <p-selectButton [options]="ballInOptions" [(ngModel)]="ballInOption" optionLabel="label" optionValue="value"></p-selectButton>
			</div>
		</div>		
		<div class="col-6 card" style="display: flex; flex-direction: column; align-items: center; margin-top: 1vh">
			<div *ngIf="scoreTeam == 'home'" >
				<div class="card flex justify-content-center">
				    <p-listbox [options]="homePlayers" [(ngModel)]="scorePlayer" optionLabel="name" [style]="{'width':'15rem'}" [listStyle]="{'max-height': '220px'}"></p-listbox>
				</div>
			</div>
			<div *ngIf="scoreTeam == 'away'" >
				<div class="card flex justify-content-center">
				    <p-listbox [options]="awayPlayers" [(ngModel)]="scorePlayer" optionLabel="name" [style]="{'width':'15rem'}" [listStyle]="{'max-height': '220px'}"></p-listbox>
				</div>
			</div>
		</div>
		<div class="col-6" style="display: flex; flex-direction: column; align-items: left; margin-top: 1vh">
			<p-selectButton [options]="scoreOptions" [(ngModel)]="scoreOption" optionLabel="label" optionValue="value"></p-selectButton>
			<p-divider></p-divider>
			<label for="extraShoot">Extra foul</label>
			<p-inputSwitch inputId="extraShoot" [(ngModel)]="extraShot"></p-inputSwitch>
		</div>
		<div class="col-12" style="display: flex; flex-direction: column; align-items: right; margin-top: 1vh">
			<button pButton pRipple label="Save" class="p-button-success" (click)="saveInPlayData()"></button>
		</div>
	</div>
			
			
</p-dialog>

<p-dialog header="Player" [(visible)]="playerInfo" [style]="{width: '60vw'}">
	<div class="grid">
		<div class="col-4"> 
			<p-panel header="Player info">
				<p-table [value]="playerData">
				    <ng-template pTemplate="body" let-player>
				        <tr>
				            <td>{{ player.item }}</td>
				            <td>{{ player.value }}</td>
				        </tr>
				    </ng-template>
				</p-table>
			</p-panel>				
		</div>
		<div class="col-4"> 
			<p-panel header="Player stats">
				<p-table [value]="playerStats">
				    <ng-template pTemplate="body" let-player>
				        <tr>
				            <td>{{ player.item }}</td>
				            <td>{{ player.value }}</td>
				        </tr>
				    </ng-template>
				</p-table>
			</p-panel>
		</div>
		<div class="col-4">
			<p-panel header="Actions" >
				<div style="display: flex; flex-direction: column; align-items: right; margin-top: 1vh">
					<button pButton pRipple label="Foul" class="p-button-warning" (click)="normalFoul(selectedPlayer)"></button>
					<button pButton pRipple label="Offensive foul" class="p-button-warning"></button>
					<button pButton pRipple label="Un-sportsmanlike" class="p-button-danger"></button>
					<button pButton pRipple label="Technical foul" class="p-button-danger"></button>
					<button pButton pRipple label="Expulsion" class="p-button-danger"></button>
					<p-divider></p-divider>
					<button pButton pRipple label="MVP" class="p-button-success"></button>
				</div>					
			</p-panel>
			
		</div>
	</div>
			
</p-dialog>

<p-dialog header="Timeout - {{ timeoutTeam }}" [(visible)]="timeoutModalVisible" [style]="{width: '20vw'}" (onHide)="resetTimeoutTimer()">
	<div class="grid">
		<div class="col-12" style="text-align: center;"> 
			<h2 style="color: red">{{ timeoutTimer }}</h2>
		</div>
	</div>
			
</p-dialog>


<p-dialog header="Substitutions - {{ homeName }}" [(visible)]="subsVisibleHome" [style]="{width: '50vw', 'height' : '55vh'}">
	<div class="grid">
		<div class="col-6" style="height: 35vh;">
			<p-panel header="All players">
				<div class="p-2 border-1 surface-border border-round" pDroppable (onDrop)="dropRight()" style="height: 28vh; overflow-y: scroll;">
				    <ul class="list-none flex flex-column gap-2 p-0 m-0">
				        <li *ngFor="let player of homePlayers" class="p-2 border-round shadow-1" pDraggable (onDragStart)="dragStartLeft(player)" (onDragEnd)="dragEndLeft()">
				            {{ player.jersey_n }} - {{player.name}}
				        </li>
				    </ul>
				</div>
			</p-panel>
		</div>

		<div class="col-6" style="height: 35vh;">
			<p-panel header="In game players">
		        <div class="p-2 border-1 surface-border border-round" pDroppable (onDrop)="dropLeft()" style="height: 28vh;">
				    <ul class="list-none flex flex-column gap-2 p-0 m-0">
				        <li *ngFor="let player of homePlayersInGame" class="p-2 border-round shadow-1" pDraggable (onDragStart)="dragStartRight(player)" (onDragEnd)="dragEndRight()">
				            {{ player.jersey_n }} - {{player.name}}
				        </li>
				    </ul>
				</div>
		    </p-panel>				
		</div>
	</div>	
</p-dialog>

<p-dialog header="Substitutions - {{ awayName }}" [(visible)]="subsVisibleAway" [style]="{width: '50vw', 'height' : '55vh'}">
	<div class="grid">
		<div class="col-6" style="height: 35vh;">
			<p-panel header="All players">
				<div class="p-2 border-1 surface-border border-round" pDroppable (onDrop)="dropRightAway()" style="height: 28vh; overflow-y: scroll;">
				    <ul class="list-none flex flex-column gap-2 p-0 m-0">
				        <li *ngFor="let player of awayPlayers" class="p-2 border-round shadow-1" pDraggable (onDragStart)="dragStartLeftAway(player)" (onDragEnd)="dragEndLeftAway()">
				            {{ player.jersey_n }} - {{player.name}}
				        </li>
				    </ul>
				</div>
			</p-panel>
		</div>

		<div class="col-6" style="height: 35vh;">
			<p-panel header="In game players">
		        <div class="p-2 border-1 surface-border border-round" pDroppable (onDrop)="dropLeftAway()" style="height: 28vh;">
				    <ul class="list-none flex flex-column gap-2 p-0 m-0">
				        <li *ngFor="let player of awayPlayersInGame" class="p-2 border-round shadow-1" pDraggable (onDragStart)="dragStartRightAway(player)" (onDragEnd)="dragEndRightAway()">
				            {{ player.jersey_n }} - {{player.name}}
				        </li>
				    </ul>
				</div>
		    </p-panel>				
		</div>
	</div>	
</p-dialog>
